.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.jqt-container {
    width: 150px;
    padding: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.4);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.4);
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    border-radius: 5px;
    background: #fff;
    font-size: 12px;
}

.jqt-buttonsContainer {
    margin: 0;
    padding: 0;
    list-style: none;
}

.jqt-button {
    float: left;
    width: 30px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.4);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.4);
    box-shadow: 0 0 3px rgba(0,0,0,.4);
    border-radius: 3px;
    cursor: pointer;
    backgound: #fff;
}
.jqt-button0 {
    margin-left: 55px;
}
.jqt-button:hover {
    background: #eee;
}

